
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic&family=Roboto:ital@1&display=swap');

.viewtrailer{
    min-height: 450px;
    background-size: cover;
    background-position:center;
  
    /*display: flex;
    align-items: flex-end;*/
     display: grid;
      
     align-items: flex-end;

    margin: 0 auto;
  }
  .boton{
    background-color: #0F1014;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 35px;
  }
  .reproductor{
    width: 80%;
    height: 650px;
    margin: 0 auto;
     
     
    /*display: flex;
    justify-content: center;*/
  }

  .botonC{
    background-color: #0F1014;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
     width: 100px;
     margin: 0 auto;
     border-radius:9px ;
  }

  .title, .overview{
    margin-left: 10px;
    color: white;
    /*font-family: 'Montserrat', sans-serif;*/

    font-family: 'Roboto', sans-serif;
  }


  @media (max-width: 560px){
    .reproductor{
         width: 100%;
          
          
    }

}